
$maxSmall : 991px;
$minSmall : "(min-width:768px)";
$minMedium : "(min-width:992px)";
$minLarge : "(min-width:1200px)";
$maxMobile :"(max-width:767px)";

$mainColor : #e2494c;
$greyColor: #9c9c9c;

$float-left : left;
$float-right : right;